#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* Стили для всей карточки профиля */
.profile-container {
  width: 320px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Arial", sans-serif;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

/* Стиль для верхней секции с аватаром и информацией */
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.profile-header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  margin-bottom: 10px;
  background-color: #333;
}

.profile-header p {
  margin: 5px 0;
  color: #333;
}

.profile-header .name {
  font-size: 18px;
  font-weight: bold;
}

.profile-header .tag {
  font-size: 14px;
  color: #555;
}

.profile-header .location {
  font-size: 12px;
  color: #777;
}

/* Стили для блока с статистикой */
.profile-stats {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #fafafa;
  border-top: 1px solid #eee;
}

.profile-stats li {
  list-style-type: none;
  text-align: center;
}

.profile-stats span:first-child {
  display: block;
  font-size: 12px;
  color: #888;
}

.profile-stats span:last-child {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Линии между статистическими элементами */
.profile-stats li:not(:last-child) {
  border-right: 1px solid #ddd;
}
